

main {
	padding-top: 100px;
}

nav {
	width: 100%;
	text-align: left;
	height: 80px;
}

blockquote {
	
}

.media-logo {
	width: 85px;
	height: 75px;
	padding-right: 2px;
}

.header-text {
	text-transform: uppercase;
	text-shadow: 3px 2px goldenrod;
	font-size: 25px;
}


a {
	color: black;
	text-transform: uppercase;
	text-shadow: 1px 1px goldenrod;
	text-align: right;
}

a:hover {
	color: gold;
}

button {
	background-color: goldenrod;
	margin-top: 10px;
	color: black;
	text-align: center;
	display: inline-block;
	border: none;
	font-size: 18px;
	border-radius: 4px;
}

button:hover {
	background-color: black;
	color: goldenrod;

}

.quote {
	font-size: 25px;
	margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
	line-height: 1.4;
}

.quote:before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -10px;
	position: relative;
	top: 30px;
	color: #ccc;
	font-size: 3em;
}

.quote::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 10px;
	position: relative;
	top: 35px;
	color: #ccc;
	font-size: 3em;
}