header {

}

main {
	padding-top: 100px;
}

nav {
	width: 100%;
	text-align: left;
	height: 80px;
}

.media-logo {
	width: 85px;
	height: 75px;
	padding-right: 2px;
}

.header-text {
	text-transform: uppercase;
	text-shadow: 3px 2px goldenrod;
	font-size: 25px;
}


a {
	color: black;
	text-transform: uppercase;
	text-shadow: 1px 1px goldenrod;
	text-align: right;
}

a:hover {
	color: gold;
}

button {
	background-color: goldenrod;
	margin-top: 10px;
	color: black;
	text-align: center;
	display: inline-block;
	border: none;
	font-size: 18px;
	border-radius: 4px;
}

button:hover {
	background-color: black;
	color: goldenrod;

}